
<div class="sidebar">
<nav>
  <ul>
    <li>
      <a routerLink=""> Overzicht  </a>
    </li>

    <div id="Karakters" class="inactive" (click)="getKarakters()">
      <li>
        <a routerLink="karakters"> Karakters </a>
      </li>
    </div>

    <div id="Wezens" class="inactive" (click)="getWezens()">
      <li>
        <a routerLink="wezens"> Wezens </a>
      </li>
    </div>

    <li>
      <a routerLink=""> Fracties </a>
    </li>

    <li>
      <a routerLink=""> Evenementen </a>
    </li>

    <li>
      <a routerLink=""> Locaties </a>
    </li>

    <li>
        <a routerLink=""> Objecten </a>
    </li>

    <li>
      <a routerLink=""> Woordenboek </a>
    </li>

    <li>
        <a routerLink=""> Oude <br/> concepten </a>
    </li>

  </ul>

</nav>

</div>
