<div class="sidebar">
    <nav *ngIf="Karakterlijst">
        <ul>
            <li *ngFor="let karakter of Karakterlijst; let i = index">
                <div id="Karakter{{i}}" class="inactive" (click)="getKarakter(i)"> <a [routerLink]=" ['./'] "> {{Karakterlijst[i].Naam}} </a></div>
              </li>
    
        </ul>
      
      </nav>
</div>

<div class="contentContainer" *ngIf="showKarakter">
    <div *ngIf="viewMode"> 
        
        <div class="title"> {{Karakterlijst[activeKarakter].Naam}}</div>
        <div class="content"> Type : {{Karakterlijst[activeKarakter].Hoofdtype}} </div> 
        <div class="content">  SubType : {{Karakterlijst[activeKarakter].Subtype}}  </div> 
        <div class="content"> {{Karakterlijst[activeKarakter].Omschrijving}} </div>
        <button (click)="switchEditMode()" class="button" > Wijzigmodus </button>
    </div>
</div>


<div class="contentContainer" *ngIf="editMode"> 
        <div class="content"> Naam:  
            <input type="text" value="{{Karakterlijst[activeKarakter].Naam}}" class="contentInput">
        </div>
        <div class="content"> 
            Type: <input type="text" value="{{Karakterlijst[activeKarakter].Hoofdtype}}" class="contentInput">
        </div>
        <div class="content"> 
            Subtype: <input type="text" value="{{Karakterlijst[activeKarakter].Subtype}}" class="contentInput"> 
        </div>
        <div class="content"> 
            Beschrijving: <input type="text" value="{{Karakterlijst[activeKarakter].Omschrijving}}" class="contentInput">
        </div>
        <div class="content"> 
            Beschrijving: <input type="text" value="{{Karakterlijst[activeKarakter].Tags}}" class="contentInput">
        </div>
        <button class="button" > Opslaan </button><button (click)="switchEditMode()" class="button"> Wijzigmodus sluiten </button>
    </div>

