<div class="text">Welkom bij de demo-versie van de Schrijvertool. <br>
Een tool wiens uiteindelijke functie is: een op maat gemaakte wikipedia om alles bij te houden in het verhaal dat ik schrijf.<br>
Alle informatie die weergegeven wordt zal compleet dynamisch worden en bijgewerkt worden met elke nieuwe toevoeging in de database. <br>
Dit is een verminderde versie van wat ik momenteel werkende heb. Voor de actuele code en voortgang kan je kijken op. 
<a href="https://github.com/Jones-Davie" target="_blank"> github.com/Jones-Davie </a> <br>

Bij de menuoptie: Wezens. Is een voorbeeldversie te zien van een van de hoofdfuncties van de tool, waarbij alles wordt geladen uit een 'faux' database <br>



</div>

