
<div class="sidebar">
<nav>
  <ul>
    <li>
      <a routerLink=""> Overzicht  </a>
    </li>

    <div id="Karakters" class="inactive" (click)="getKarakters()">
      <li>
        <a routerLink=""> Karakters </a>
      </li>
    </div>

    <li>
      <a routerLink=""> Wezens </a>
    </li>

    <li>
      <a routerLink=""> Fracties </a>
    </li>

    <li>
      <a routerLink=""> Evenementen </a>
    </li>

    <li>
      <a routerLink=""> Locaties </a>
    </li>

    <li>
      <a routerLink=""> Woordenboek </a>
    </li>

  </ul>

</nav>

</div>

<div class="sidebar">
    <nav *ngIf="Karakterexample">
        <ul>
    
            <li *ngFor="let entry of Karakterexample; let i = index">
                <a routerLink=""> {{Karakterexample[i].Name}} </a>
      
              </li>
    
        </ul>
      
      </nav>
</div>

