
<div class="sidebar">
<nav>
  <ul>
    <div id="Overzicht" class="inactive" (click)="getOverzicht()">
      <li>
        <a routerLink="overzicht"> Overzicht  </a>
      </li>
    </div>

    <div id="Karakters" class="inactive" (click)="getKarakters()">
      <li>
        <a routerLink="karakters"> Karakters </a>
      </li>
    </div>

    <div id="Wezens" class="inactive" (click)="getWezens()">
      <li>
        <a routerLink="wezens"> Wezens </a>
      </li>
    </div>

  </ul>

</nav>

</div>
