<div class="sidebar">
  <nav *ngIf="Wezenlijst">
      <ul>
  
          <li *ngFor="let wezen of Wezenlijst; let i = index">
              <div id="Wezen{{i}}" class="inactive" (click)="getWezen(i)"><a [routerLink]=" ['./'] "> {{Wezenlijst[i].Name}} </a></div>
            </li>
  
      </ul>
    
    </nav>
</div>

<div class="contentContainer" *ngIf="viewMode"> 
  
  <div class="title" id="wezenName"> {{Wezenlijst[activeWezen].Name}}</div>
  <div class="content" id="wezenType"> Type : {{Wezenlijst[activeWezen].Type}} </div> 
  <div class="content" id="wezenSubType">  SubType : {{Wezenlijst[activeWezen].TypeTwo}}  </div> 
  <div class="content" id="wezenEntry"> {{Wezenlijst[activeWezen].Entry}} </div>
  <button (click)="switchEditMode()" class="button" > Wijzigmodus </button>
</div>


<div class="contentContainer" *ngIf="editMode"> 
      <div class="content"> Naam:  
          <input type="text" value="{{Wezenlijst[activeWezen].Name}}" class="contentInput">
      </div>
      <div class="content"> 
          Type: <input type="text" value="{{Wezenlijst[activeWezen].Type}}" class="contentInput">
      </div>
      <div class="content"> 
          Subtype: <input type="text" value="{{Wezenlijst[activeWezen].TypeTwo}}" class="contentInput"> 
      </div>
      <div class="content"> 
          Beschrijving: <input type="text" value="{{Wezenlijst[activeWezen].Entry}}" class="contentInput">
      </div>
      <button class="button" > Opslaan </button><button (click)="switchEditMode()" class="button"> Wijzigmodus sluiten </button>
  </div>